{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .case {
            display: inline-block;
            margin: 2px !important;
        }

        .case span {
            display: inline-block;
            min-height: 50px;
            text-transform: capitalize;
        }

    </style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s0 xl4"></div>
        <div class="col s12 xl10">
            <form id="commander" method="post" class="col s12">
                <div class="card blue-grey lighten-5">
                    <div class="card-content">
                        <span class="card-title">Commande de fioul</span>
                        <div class="row">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <i class="material-icons prefix">local_shipping</i>
                                        <input required id="quantity" name="quantity" type="number" min="{{ constant('QUANTITY_MIN', calendar_service) }}" max="{{ constant('QUANTITY_MAX', calendar_service) }}" class="validate">
                                        <label for="quantity">Quantité</label>
                                        <span class="helper-text" data-error="{{ constant('ERROR_QUANTITY_MIN_MAX', calendar_service) }}" data-success=""></span>
                                    </div>
                                    <div class="input-field col s2">
                                        <label>Litres</label>
                                    </div>
                                </div>
                        </div>
                        <div class="row" id="calendar">
                        </div>
                    </div>
                    <div class="card-action center">
                        <button id="btn-commande" type="submit" class="center btn" >Passer ma commande</button>
                        <div class="red-text" style="padding-top:10px" id="error">{{ error }}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

        let inProgress = false;

        function displayCalendar(calendar, quantity) {

            if (!quantity) quantity = 0;

            let htmlCalendar = $('#calendar');
            htmlCalendar.empty();

            for (let i in calendar) {

                let truckDay = calendar[i];

                let date = new Date(truckDay.date);
                date = date.toLocaleDateString(
                    'fr-FR',
                    { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
                );

                let htmlDay;

                if (truckDay.restCapacity > 0 || (truckDay.restCapacity === 0 && quantity > 0)) {

                    htmlDay = $('<div class="case card col s3"><label>' +
                        '      <input required class="" value="'+truckDay.id+'" name="truckDayId" type="radio" /><span>' +
                        '<div>' + date + '</div>' +
                        '<div>' + truckDay.restCapacity + ' litres</div>' +
                        '</span></label></div>');
                }
                else {
                    htmlDay = $('<div class="case card col s3 grey lighten-4"><label>' +
                        '      <input class="" disabled name="truckDayId" type="radio" /><span>' +
                        '<div>' + date + '</div>' +
                        '<div>Complet</div>' +
                        '</span></label></div>');
                }

                htmlCalendar.append(htmlDay);
            }
        }

        function loadCalendar(quantity) {

            $.get( "{{ path('generate-calendar', {'postalCode': '92500'}) }}/"+quantity, function( data ) {

                if (data && data.calendar) {
                    displayCalendar(data.calendar, quantity);
                }
            });
        }

        function getQuantity() {

            let quantity = $('#quantity').val();
            quantity = parseInt(quantity);
            if (!quantity || isNaN(quantity) || quantity < 500 || quantity > 10000) {
                return false;
            }
            return quantity;
        }

        $(function() {

            loadCalendar(0);

            $('#quantity').on('change', function () {

                let quantity = getQuantity();
                if (false !== quantity) {
                    loadCalendar(quantity);
                }
                else if ($('#quantity').val() === '') {
                    loadCalendar(0);
                }
            });
        });

    </script>

{% endblock %}